body{
 width:100%;
 background: #101722;
 font-family: 'PT Mono', sans-serif;
 color: white;
 margin:0px;
 }

.container{
    text-align:left;

       @media screen and (max-width: 479px) {
        padding: 3rem;
         margin: auto;
        }



    .demo{
     @media screen and (min-width: 480px) {
           position: absolute;
           width: 423.88px;
           height: 532px;
           left: 854px;
           top: 59px;
                &__image{
                   height: 77%;
               }
        }

    @media screen and (min-width: 1800px)  {
    left: 1050px;
    }

    @media screen and (max-width: 479px) {
    display:none;
    }
    }

    .text{
        @media screen and (max-width: 479px) {
           .tagline{
                font-size: 25px;
                letter-spacing: 9px;
                margin-bottom: 1rem;
            }

            .blurb{
                font-size: 16px;
                letter-spacing: 6px;
                }
         }

        @media screen and (min-width: 480px) {
            position: absolute;
            width: 1008px;
            left: 111px;
            top: 350px;
            .tagline{
                font-size: 50px;
                letter-spacing: 12px;
            }

            .blurb{
                font-size: 20px;
                letter-spacing: 6px;
                }
            }

        .header{
            margin-bottom:2rem;
            }

        .blurb{
            margin-bottom:1.5rem;
            }
      }

    .cta{

    @media screen and (max-width: 479px) {

        .form-control{
            background-color:transparent;
            border: none;
            height:2.3rem;
            width:100%;
            border-bottom: 1px solid rgba(195,195,195,.5);
            margin-bottom:1rem;
        }
        .form-control:focus{
            background-color: yellow;
        }

        button {
            width: 100%;
        }
    }

      @media screen and (min-width: 480px) {
             .form-group{
                width:25%;
                display:inline-block;
            }
            .form-control{
                background-color:transparent;
                border: none;
                width:240px;
                height:2.3rem;
                border-bottom: 1px solid rgba(195,195,195,.5);
            }

            .form-control:focus{
               background-color: yellow;
            }
        }
        button {
                        display: inline-block;
                        border: none;
                        padding: 1rem 2rem;
                        margin: 0;
                        text-decoration: none;
                        background: #51B1E7;
                        color: #ffffff;
                        font-family: sans-serif;
                        font-size: 1rem;
                        cursor: pointer;
                        text-align: center;
                        transition: background 250ms ease-in-out,
                                    transform 150ms ease;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }

                    button:hover,
                    button:focus {
                        background: #0053ba;
                    }

                    button:focus {
                        outline: 1px solid #fff;
                        outline-offset: -4px;
                    }

                    button:active {
                        transform: scale(0.99);
                    }
                    }

}