$font-eye-catch: 'Lobster', cursive;
$font-color-body: #153131;
$color-body: #f0eceb;
$link-hover-color: #45CB85;
body {
  margin: 0 0 0 0;
  font-family: 'Montserrat', sans-serif;

  a {
    text-decoration: none;
    color: inherit;
  }
}

h1, h3 {
  margin: 0 0 0 0;
  font-family: $font-eye-catch;
}

header {
  height: 5rem;
  background-color: $color-body;
  color: $font-color-body;


  a:hover {
    color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;


  &--noPad {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  &__nav {
    display: flex;
    margin-left: 50%;

    &__list {
      margin: 0 0 0 0;
      display: flex;
      list-style-type: none;

      li {
        margin-left: 1rem;
      }
    }

    &--optional {
      @media screen and (max-width: 1204px) {
        display: none;
      }

    }
  }
}

.hero {
  &__image {
    margin: 0 0 0 0;
    width: 100%;
  }
}

.purpose {
  background-color: $color-body;
  padding: 2rem 5rem 5rem;
  color: $font-color-body;

  &__container {
    width: 67%;
  }

  &--big-title {
    font-size: 3rem;
  }

  &--no-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__link {
    font-family: $font-eye-catch;
    font-size: 1.5rem;
  }

  &__link:hover {
    color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}