body {
  margin: 0 0 0 0
}

h1{  font-family: 'Lobster', cursive;}

header{
  height: 5rem;
}
.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;

  &--noPad{
    padding:0 0 0 0;
    margin: 0 0 0 0;
  }

  &__nav {
    display: flex;
    margin-left: 50%;

    &__list {
      margin: 0 0 0 0;
      display: flex;
      list-style-type: none;

      li {
        margin-left: 1rem;
      }
    }

    &--optional{
      @media screen and (max-width: 1204px) {
        display:none;
      }

    }
  }
}

.hero {
  &__image {
    margin: 0 0 0 0;
    width: 100%;
  }
}

.purpose{
  padding-left: 5rem;
  padding-right: 5rem;
}