body {
  width: 100%;
  background-image: url("/image/hero-white.png");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat; }

.ml-7 {
  margin-left: 7rem; }

.full {
  width: 100%;
  height: auto; }

.no-pad {
  padding: 0 0 0 0; }

.about-kayo {
  margin-top: -10rem;
  background-color: #1398D5; }

.pre-register {
  width: 66%; }

.nav {
  height: 10rem;
  color: black; }
  .nav__logo {
    padding-top: 1rem; }
    .nav__logo img {
      width: 10rem; }
