body {
  width: 100%;
  background: #101722;
  font-family: 'PT Mono', sans-serif;
  color: white;
  margin: 0px; }

.container {
  text-align: left; }
  @media screen and (max-width: 479px) {
    .container {
      padding: 3rem;
      margin: auto; } }
  @media screen and (min-width: 480px) {
    .container .demo {
      position: absolute;
      width: 423.88px;
      height: 532px;
      left: 854px;
      top: 59px; }
      .container .demo__image {
        height: 77%; } }
  @media screen and (min-width: 1800px) {
    .container .demo {
      left: 1050px; } }
  @media screen and (max-width: 479px) {
    .container .demo {
      display: none; } }
  @media screen and (max-width: 479px) {
    .container .text .tagline {
      font-size: 25px;
      letter-spacing: 9px;
      margin-bottom: 1rem; }
    .container .text .blurb {
      font-size: 16px;
      letter-spacing: 6px; } }
  @media screen and (min-width: 480px) {
    .container .text {
      position: absolute;
      width: 1008px;
      left: 111px;
      top: 350px; }
      .container .text .tagline {
        font-size: 50px;
        letter-spacing: 12px; }
      .container .text .blurb {
        font-size: 20px;
        letter-spacing: 6px; } }
  .container .text .header {
    margin-bottom: 2rem; }
  .container .text .blurb {
    margin-bottom: 1.5rem; }
  @media screen and (max-width: 479px) {
    .container .cta .form-control {
      background-color: transparent;
      border: none;
      height: 2.3rem;
      width: 100%;
      border-bottom: 1px solid rgba(195, 195, 195, 0.5);
      margin-bottom: 1rem; }
    .container .cta .form-control:focus {
      background-color: yellow; }
    .container .cta button {
      width: 100%; } }
  @media screen and (min-width: 480px) {
    .container .cta .form-group {
      width: 25%;
      display: inline-block; }
    .container .cta .form-control {
      background-color: transparent;
      border: none;
      width: 240px;
      height: 2.3rem;
      border-bottom: 1px solid rgba(195, 195, 195, 0.5); }
    .container .cta .form-control:focus {
      background-color: yellow; } }
  .container .cta button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #51B1E7;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .container .cta button:hover,
  .container .cta button:focus {
    background: #0053ba; }
  .container .cta button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px; }
  .container .cta button:active {
    transform: scale(0.99); }

.social-container {
  text-align: left;
  padding: 3rem; }
  @media screen and (max-width: 479px) {
    .social-container {
      margin: auto; } }
  @media screen and (max-width: 479px) {
    .social-container .text .tagline {
      font-size: 25px;
      letter-spacing: 9px;
      margin-bottom: 1rem; }
    .social-container .text .blurb {
      font-size: 16px;
      letter-spacing: 6px; } }
  @media screen and (min-width: 480px) {
    .social-container .text {
      position: absolute;
      width: 1008px;
      left: 111px; }
      .social-container .text .tagline {
        font-size: 50px;
        letter-spacing: 12px; }
      .social-container .text .blurb {
        font-size: 20px;
        letter-spacing: 6px; } }
  .social-container .text .header {
    margin-bottom: 2rem; }
  .social-container .text .blurb {
    margin-bottom: 1.5rem; }
  .social-container .social-cta a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
  .social-container .social-cta .social-text {
    margin-left: 1rem;
    padding-right: 1rem; }
