body {
  display: flex;
  flex-flow: column;
  height: 100%; }

body {
  margin: 0 0 0 0;
  font-family: 'Montserrat', sans-serif; }
  body a {
    text-decoration: none;
    color: inherit; }

h1, h3 {
  margin: 0 0 0 0;
  font-family: "Lobster", cursive; }

header {
  height: 5rem;
  background-color: #f0eceb;
  color: #153131; }
  @media handheld, screen and (max-width: 768px) {
    header {
      height: 7rem; } }
  header a:hover {
    color: #45CB85;
    text-decoration: none;
    cursor: pointer; }

.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex; }
  .container--noPad {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
  .container__nav {
    display: flex;
    margin-left: 50%; }
    .container__nav__list {
      margin: 0 0 0 0;
      display: flex;
      list-style-type: none; }
      .container__nav__list li {
        margin-left: 1rem; }
    @media screen and (max-width: 1204px) {
      .container__nav--optional {
        display: none; } }

.hero__image {
  margin: 0 0 0 0;
  width: 100%;
  height: 35rem;
  background: url("/image/goal-keeper.jpg") no-repeat center top;
  background-size: cover; }
  @media handheld, screen and (max-width: 768px) {
    .hero__image {
      height: 74rem;
      background: url("/image/football-mobile.jpg") no-repeat center top; } }

.purpose {
  background-color: #f0eceb;
  padding: 2rem 5rem 5rem;
  color: #153131;
  height: 100%; }
  @media (min-width: 768px) {
    .purpose__container {
      width: 67%; } }
  .purpose--big-title {
    font-size: 3rem; }
  .purpose--no-bottom {
    padding-bottom: 0;
    margin-bottom: 0; }
  .purpose__link {
    font-family: "Lobster", cursive;
    font-size: 1.5rem; }
  .purpose__link:hover {
    color: #45CB85;
    text-decoration: none;
    cursor: pointer; }

.profile {
  width: 50%;
  margin-left: 30%;
  margin-top: 3%; }
  .profile .stats-card {
    background-color: #F0E1BA;
    width: 21rem;
    display: grid;
    grid-template-columns: 29% 69%;
    grid-row-gap: 1rem;
    grid-template-areas: "profile-pic profile-name" "profile-stats profile-stats"; }
    .profile .stats-card--top {
      margin-top: 0.8rem; }
    .profile .stats-card--shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .profile .stats-card__circular {
      margin-left: 0.2rem;
      display: inline-block;
      position: relative;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      grid-area: profile-pic; }
      .profile .stats-card__circular img {
        width: auto;
        height: 100%;
        margin-left: -50px; }
    .profile .stats-card__player-info {
      grid-area: profile-name; }
      .profile .stats-card__player-info--overlap {
        background-color: #8C9483;
        text-align: right;
        margin-bottom: 0.5rem;
        padding-right: 0.2rem; }
      .profile .stats-card__player-info--subdued {
        background-color: #C5CBE3; }
      .profile .stats-card__player-info--headline {
        background-color: #F13C20; }
    .profile .stats-card__stats {
      grid-area: profile-stats; }
      .profile .stats-card__stats table {
        width: 100%; }

.matches {
  margin-top: 3rem;
  margin-left: 5rem;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px; }
  .matches ul {
    list-style: none;
    padding-left: 0; }
  .matches .stats-block {
    display: grid;
    grid-template-columns: 30% 1fr; }
  .matches__stats {
    display: grid;
    grid-template-columns: 1fr; }
    .matches__stats__personal {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1rem;
      grid-column-gap: 8rem; }

.match {
  margin-top: 3rem;
  margin-left: 5rem;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px; }
  .match ul {
    list-style: none;
    padding-left: 0; }
  .match .match-info {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr; }
    .match .match-info .result .divider {
      margin-left: 0.4rem;
      margin-right: 0.4rem; }
  .match .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2; }
    .match .stats .total-distance {
      align-content: right; }
      .match .stats .total-distance li {
        width: 11rem; }
      .match .stats .total-distance .player-distance {
        float: right; }
    .match .stats .maximum-speed {
      align-content: right; }
      .match .stats .maximum-speed li {
        width: 11rem; }
      .match .stats .maximum-speed .max-speed {
        float: right; }
